.App {
  text-align:center;

}

.App-logo {

}

.App-header {
  background-color: #222;
  padding: 20px;
  color:white;

}

.App-title {
  font-size: 1.5em;

}

.App-intro {
  font-size:large;

}

.container {
  border: 10px solid red;
  padding: 20px;

  div {
    border: 1px solid red;



    padding: 20px;




  }

}
