.activities {
  .card {
    display: block;
  }
}
.marker {
  padding: 0 0 0 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  opacity: .5;
  background-color: gray;
  border: 1px solid black;
}
.mapboxgl-popup {
  .title {
    font-size: .9rem;
  }
  .subtitle {
    font-size: .7rem;
    margin-bottom: 0
  }
  p {
    font-size: .7rem;
  }
}